### IntelliJ IDEA ###
out/
.idea
!**/src/main/**/out/
!**/src/test/**/out/
.smp
online-shooting-game-java.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Something Else ###
*.log

*.class
*.jar
report.html
report.md